<!--component html goes here -->
<h1>Add Cycle</h1>
<div [formGroup]="myGroup">

    <ion-item>
        <ion-label>Repeat</ion-label>
        <ion-input type="number" formControlName="repeat" [(ngModel)]="repeat"></ion-input>
    </ion-item>


    <ion-row>
        <ion-col col-6>
            <ion-button expand="block" color="primary" (click)="save()">Save</ion-button>

        </ion-col>

        <ion-col col-6>
            <ion-button expand="block" color="danger" (click)="closeModal()">Cancel</ion-button>
        </ion-col>
    </ion-row>

</div>