<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="header-image" src="assets/images/scinita-logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <ion-item [href]="'/protocol/' + p.id" detail="true" *ngFor="let p of protocolService.protocols">
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list no-lines>
    <ion-item *ngFor="let p2 of protocols2">
      <ion-label>{{ p2.title }}</ion-label>
    </ion-item>
  </ion-list>


  <ion-button class="btn-sc-primary" color="primary" expand="block" (click)="addProtocol()">Add Protocol
  </ion-button>

</ion-content>