<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="header-image" src="assets/images/scinita-logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <!--<ion-item [href]="'/protocol/' + p.title" detail="true" *ngFor="let p of protocolService.protocols">
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>-->
    <ion-item-sliding *ngFor="let p of protocolService.protocols; index as i">
      <ion-item [href]="'/protocol/' + p.title" detail="true">
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="secondary" (click)="editProtocol(p)">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteProtocol(p, i)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-button class="btn-sc-primary" color="primary" expand="block" (click)="addProtocol()">Add Protocol
  </ion-button>

</ion-content>